
*{

    box-sizing: border-box;
    font-family: 'work sans' sans-serif;
}
.G{


    color: pink;
    font-weight: 700;
}

.nav-content{

display: flex;
gap:10px;
align-items: center;

}

nav,.nav-menu{

display: flex;
justify-content: space-around;
align-items: center;

}
.nav-menu >li{

    list-style-type: none;
    margin-right: 25px;
}

.follow{

    width:150px;
    background-color: lightgray;
    padding:4px;
    
}

nav{

    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.banner{

    display: flex;
    justify-content: space-around;
    background-color:#FFF;
    padding: 15px;
    margin-top: 20px;

   
}

.banner-content{

}


.banner-title{

    font-size: 3rem;
}
.goat{

    font-size: 4.5rem;
    color:blueviolet;
}

.banner-img{

    background-image: url('../images/Group\ 18.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    width:711px;
    height:430px;
    
}
.btn-signin{


    border:none;
    border-radius: 10px;
    width:100px;
    padding:10px;
    background-color: crimson;
    color: #FFF;
}
.go-rogue{


    border:none;
    border-radius:15px;
    width:100px;
    padding:10px;
    margin-left: 20px;
    background-color: blue;
    color: #FFF;
}
.online-games-container{


    text-align: center;
}

.online-games-title{

    font-weight: 700;
    font-size: 2.5rem;
}

.funny{

    color:coral;
}

.games-photo{

    display: flex;
    justify-content: center;
    margin-top: 40px;
   
}
.rect-5, .rect-7 {

margin-right: 40px;

}
.rect-7{

    margin-left: 15px;
}
.rect-5{
    margin-left: 25px;
}

.games-photo img{

    width:200px;
    height:200px;
}

.games-desc{




}
.playing-container{
margin-top: 100px;
    display: flex;
    justify-content: space-around;
    
}
.playing{

    color: blue;
}
.playing-title{

    font-size:3rem;
}

.playing-desc{

font-style: 2.8rem;

}

.rect-55 img{

    width:400px;
    height:500px;
}


.rect-66 img{

width:170px;
height:240px;

}

.rect-66{


    position: relative;
    bottom:160px;
    right: 70px;
}



.games-name-container{
    margin-bottom: 24px;
    background-color: beige;
}
.games-name-container,.name-five,.name-four{

    padding: 20px;
    gap: 20px;
}
.name-five, .name-four, .action, .adventure, .arcade, .educational, .word, .role, .music, .puzzle, .strategy{

display: flex;

justify-content:space-evenly;

}
.action:hover{
border-radius: 50px;
    border:2px solid gray;
    background-color: blue;
    cursor:pointer
}
.adventure:hover{
border-radius: 50px;
    border:2px solid gray;
    background-color: green;
    cursor:pointer;
}
.arcade:hover{
border-radius: 50px;
    border:2px solid red;
    cursor:pointer;
    background-color: aqua;
}
.educational:hover{
cursor:pointer;
border-radius: 50px;
    border:2px solid orange;
    background-color: brown;
}
.word:hover{
border-radius: 50px;
    border:2px solid green;
    background:tomato;
    cursor:pointer;
}
.role:hover{
border-radius: 50px;
    border:2px solid aqua;
    background-color: crimson;
    cursor:pointer;
}
.music:hover{
border-radius: 50px;
    border:2px solid tomato;
    background-color: violet;
    cursor: pointer;
}
.puzzle:hover{
border-radius: 50px;
    border:2px solid brown;
    background-color: darkblue;
    cursor: pointer;
}
.strategy:hover{
cursor: pointer;
border-radius: 50px;
    border:2px solid magenta;
    background-color: yellow;
}


footer{

margin-top: 150px;
padding: 50px;
    background-color: black;
    color:#FFF;
}
.footer-logo, .footer-item{

    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

li{

    list-style-type: none;
}

.footer-icon{

font-size: 2rem;
margin-top: 30px;
    display: flex;
    justify-content: center;
    gap:50px;
}

.footer-logo{

font-size: 2.3rem;

}
.footer-policies{
opacity: 0.7;
display: flex;
gap: 70px;
justify-content: center;
margin-top: 45px;

}

.footer-desc{


    text-align: center;
    opacity:0.7;
}

.video-icon{

position: relative;
bottom: 100px;

}

@media screen and (min-width:425px) and (max-width:767px) {

.nav-content,nav, .banner {


    flex-direction: column;
}

.nav-menu{
display: flex;
    flex-direction: column;
    gap:15px;
}

.banner-img {

    width:100%;
}

.games-photo{

flex-direction: column;

}
.rect-6{

    margin-right: 22px;
}

.playing-container{

    flex-direction: column;

}
.rect-66{


    position: relative;
    left:200px;
}
.games-name-container,.name-five, .name-four, .footer-logo, .footer-item{

    flex-direction: column;
    
}



}


@media screen and (min-width:768px) and (max-width:1023px){

    .nav-content,nav, .banner {


        flex-direction: column;
    }
    
    .nav-menu{
    display: flex;
        flex-direction: column;
        gap:15px;
    }
    
    .banner-img {
    
        width:100%;
    }
    
    .games-photo{
    
    flex-direction: column;
    
    }
    .rect-6{
    
        margin-right: 22px;
    }
    
    .playing-container{
    
        flex-direction: column;
    
    }
    .rect-66{
    
    
        position: relative;
        left:200px;
    }
    .games-name-container,.name-five, .name-four, .footer-logo, .footer-item{
    
        flex-direction: column;
        
    }
    .playing-container{

        text-align: center;
    }
    .banner-img{

margin-top:30px;
        margin-right:190px;
    }
    .banner{
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    

}