
*{

    box-sizing: border-box;
    font-family: 'work sans' sans-serif;
}
.G{


    color: pink;
    font-weight: 700;
}

.nav-content{

display: flex;
gap:10px;
align-items: center;

}

nav,.nav-menu{

display: flex;
justify-content: space-around;
align-items: center;

}
.nav-menu >li{

    list-style-type: none;
    margin-right: 25px;
}

.follow{

    width:150px;
    background-color: lightgray;
    padding:14px;
    margin-bottom: 14px;
    
}

nav{

    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 15px;

}

.banner{

    display: flex;
    justify-content: space-around;
    background-color:#FFF;
    padding: 15px;
    margin-top: 20px;

   
}



.banner-title{

    font-size: 3rem;
}
.goat{

    font-size: 4.5rem;
    color:blueviolet;
}

.banner-img{

    background-image: url('../images/Group\ 18.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    width:711px;
    height:430px;
    
}
.btn-signin{


    border:none;
    border-radius: 10px;
    width:100px;
    padding:10px;
    background-color: crimson;
    color: #FFF;
}
.go-rogue{


    border:none;
    border-radius:15px;
    width:100px;
    padding:10px;
    margin-left: 20px;
    background-color: blue;
    color: #FFF;
}
.online-games-container{


    text-align: center;
}

.online-games-title{

    font-weight: 700;
    font-size: 2.5rem;
}

.funny{

    color:coral;
}

.games-photo{

    display: flex;
    gap:20px;
    justify-content: center;
    
    margin-top: 40px;
   
}


.games-photo img{

    width:300px;
    height:300px;
}

.playing-container{
margin-top: 100px;
    display: flex;
    justify-content: space-around;
    
}
.playing{

    color: blue;
}
.playing-title{

    font-size:3rem;
}

.playing-desc{

font-style: 2.8rem;

}

.rect-55 img{

    width:400px;
    height:500px;
}


.rect-66 img{

width:170px;
height:240px;

}

.rect-66{


    position: relative;
    bottom:160px;
    right: 70px;
}



.games-name-container{
    margin-bottom: 24px;
    background-color: beige;
}
.games-name-container,.name-five,.name-four{

    padding: 20px;
    gap: 20px;
}
 .action, .adventure, .arcade, .educational, .word, .role, .music, .puzzle, .strategy{

display: flex;

justify-content:space-evenly;

}

.games-name-container{

display: grid;
grid-template-columns: repeat(5,1fr);
justify-content: center;


}
button{

    border:none;
    border-radius: 55px;
}
.action:hover{
border-radius: 50px;
    border:2px solid gray;
    color: blue;
    cursor:pointer
}
.adventure:hover{
border-radius: 50px;
    border:2px solid gray;
    color: green;
    cursor:pointer;
}
.arcade:hover{
border-radius: 50px;
    border:2px solid red;
    cursor:pointer;
    color:blue;
}
.educational:hover{
cursor:pointer;
border-radius: 50px;
    border:2px solid orange;
    color:violet;
}
.word:hover{
border-radius: 50px;
    border:2px solid green;
color:tomato;
    cursor:pointer;
}
.role:hover{
border-radius: 50px;
    border:2px solid aqua;
    color: crimson;
    cursor:pointer;
}
.music:hover{
border-radius: 50px;
    border:2px solid tomato;
    color: violet;
    cursor: pointer;
}
.puzzle:hover{
border-radius: 50px;
    border:2px solid brown;
    color: violet;
    cursor: pointer;
}
.strategy:hover{
cursor: pointer;
border-radius: 50px;
    border:2px solid magenta;
    color:violet;
}


footer{

margin-top: 150px;
padding: 50px;
    background-color: black;
    color:#FFF;
}
.footer-logo, .footer-item{

    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

li{

    list-style-type: none;
}

.footer-icon{

font-size: 3rem;
margin-top: 30px;
    display: flex;
    justify-content: center;
    gap:50px;
}

.footer-logo{

font-size: 2.3rem;

}
.footer-policies{
opacity: 0.7;
display: flex;
gap: 70px;
justify-content: center;
margin-top: 45px;

}

.footer-desc{


    text-align: center;
    opacity:0.7;
}

.video-icon{

position: relative;
bottom: 280px;

}
.icon-video{


font-size: 4rem;
color: #FFF;
}
.video-title{

    color:pink;
    font-size: 3rem;
    font-weight: 800;
}

button{

    cursor: pointer;
}

@media screen and (min-width:425px) and (max-width:767px) {


    .video-icon{

        position: relative;
        bottom: 280px;
        margin-bottom: -240px;
        
        }
.nav-content,nav, .banner {


    flex-direction: column;
}

.nav-menu{
display: flex;
    flex-direction: column;
    gap:15px;
}

.banner-img {

    width:100%;
}

.games-photo{

flex-direction: column;
gap: 20px;

}


.playing-container{

    flex-direction: column;

}
.rect-66{


    position: relative;
    left:200px;
}

.games-name-container{

display: grid;
justify-content: center;
grid-template-columns: repeat(3,1fr);

}
.footer-item,.footer-icon{

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
}
 .footer-policies{

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
}


}


@media screen and (min-width:768px) and (max-width:1023px){



    .video-icon{

        position: relative;
        bottom: 280px;
        margin-bottom: -240px;
        
        }
    .nav-content,nav, .banner {


        flex-direction: column;
    }
    
    .nav-menu{
    display: flex;
        flex-direction: column;
        gap:15px;
    }
    
    .banner-img {
    
        width:100%;
    }
    
    .games-photo{
    
    flex-direction: column;
    
    }
    
    
    .playing-container{
    
        flex-direction: column;
    
    }
    .rect-66{
    
    
        position: relative;
        left:200px;
    }
    .games-name-container, .footer-logo, .footer-item{
    
        flex-direction: column;
        
    }
    .playing-container{

        text-align: center;
    }
    .banner-img{

margin-top:30px;
        margin-right:190px;
    }
    .banner{
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    

}